//media query
@mixin mQ($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin align($wd: 90%, $mt: 0) {
  width: $wd;
  margin: 0 auto;
  margin-top: $mt;
  box-sizing: border-box;
}

@mixin desList($size, $mgn-btm) {
  font-size: $size;
  margin-bottom: $mgn-btm;
}

@mixin navLi($mr: 10px) {
  display: inline-block;
  position: relative;
  left: 15%;
  margin-right: $mr;
}

@mixin lgNav() {
    display: inline-block;
    @include align(80%);

    li {
      @include navLi();
    } 
}

@mixin imgResize($wd: 57%) {
  width: $wd;
  display: inline;
}