//main background
$app: gray;

//colors
$darkGray: #343a40;
// $medGray: ;
// $gray: ;
$white: #fff;
$headTxt: #fff;

//footer
$footBg: #000;
$footTxt: #fff;



//fa icons
$twitter: #1da1f2;
$github: #f7a000;
$javascript: #f0db4f;
$react: #5dd2f3;
$sass: #ce679a;