//main background
$app: #eaebed;
$appContrast: #D2D7D3;

//Home
$home: rgba(255, 255, 255, 0.65);

//colors
$darkGray: #343a40;
$black: #333;
$medGray: #888;
$white: #fff;

//fa icons
$twitter: #1da1f2;
$github: #f7a000;
$javascript: #f0db4f;
$react: #5dd2f3;
$sass: #ce679a;