@import '../../node_modules/normalize.css';

@import 'variables';


// General Styling
ul {
  padding-left: 0;
}
li {
  list-style: none;
}

img {
  width: 100%;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}


//top of page and navigation
.Head {


  .Logo {
    display: inline-block;
    margin-right: 170px;
    margin-left: 10px;

    h1 {
      margin-bottom: 0;
      letter-spacing: 1.5px;
      font-size: 1.3em;
    }
  }

  button {
    padding: 6px 12px;
    position: relative;
    bottom: 5px;
    
    .menu {
      font-size: 1.3em;
    }
  }

  .nav-closed {
    display: none;
  }
  
  .nav-open {
    display: block;
    padding-left: 0;
    text-align: center;
  }
}


//Homepage
.Home {
    position: relative;
    margin-top: 10px;

  p {
    position: absolute;
    bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 1.3em;
    text-align: center;
    display: inline-block;
  }

}


//About Me
.AboutMe {

  p {
    padding: 0 10px;
  }
}


//Skills
.Skills {
  
  .Skill {

    text-align: center;
    .icon {
      font-size: 2em;
    }

    p {
      text-align: left;
      padding: 0 1em;
    }

  }
}


.Development {
  
  h1, p, ul {
    padding: 0 8px;
  }

  li {
    display: inline-block;
    margin-right: 0.5em;
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
  }
}


.Contact {

  padding-left: 8px;
  
  dt {
    float: left;
    margin-right: 15px;
  }

  .SocialMedia {
    clear: both;
  }

}


//Foot
.Foot {

  p {
    display: inline-block;
  }

  .SocialMedia {
    display: inline-block;

    ul {
      margin-left: 16px;

      li {
        display: inline;
        margin-right: 4px;
      }
    }
  }
}