@import '../../node_modules/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans');

@import 'variables';
@import 'mixins';


// General Styling
* {
  letter-spacing: 0.7px;
}

html, body {
  height: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p, h1, dd, dt, a {
  color: $black;
  font-family: 'Open Sans', sans-serif;
}

.App {
  background-color: $app;
}


//Social Media icons 
.twitter {
  color: $twitter;  
}
 .github {
  color: $github;
}
 #js {
  color: $javascript;
}
#react {
  color: $react;
}

#sass {
  color: $sass;
}


//top of page and navigation
.Head {
  background-color: $darkGray;
  padding: 10px 0;

  .Logo {
    display: inline-block;
    margin-left: 10px;

    @include mQ(600px) {
      @include align(20%);
    }

    h1 {
      letter-spacing: 2px;
      font-size: 1.3em;
      font-family: Arimo, sans-serif;
      color: $white;
    }
  }

  button {
    border: none;
    padding: 12px;
    background-color: $darkGray;
    float: right;

    @include mQ(600px) {
      display: none;
    }
    
    .menu {
      font-size: 1.6em;
      color: $white;
    }
  }

  nav {
    clear: both;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  .nav-closed {
    display: none;
    padding-left: 0;
    
    @include mQ(600px) {
      @include lgNav();
    }

    li {

      @include mQ(900px) {
        @include navLi(15px);
      }

      @include mQ(1300px) {
        @include navLi(35px);
      }
    }
  }
  
  .nav-open {
    display: block;
    padding-left: 0;
    text-align: center;

    @include mQ(600px) {
      text-align: left;
      @include lgNav();
    }

    li {
      @include mQ(900px) {
        @include navLi(25px);
      }
    }    
  }
}


//Homepage
.Home {
  position: relative;

  p {
    font-size: 1.9em;
    padding: 6px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $home;
    letter-spacing: 2px;

    @include mQ(1200px) {
      font-size: 3em;
    }
  }

  .Image {
    margin-bottom: 2em;
  }
}


//About Me
.AboutMe {
  position: relative;

  @include mQ(600px) {
    padding-right: 10px;
  }

  @include mQ(900px) {
    padding-right: 0;
  }

  p {
    padding: 10px 10px 0 10px;
    margin-top: 0;

    @include mQ(600px) {
      @include condense();
      padding-top: 0;
    }

    @include mQ(900px) {
      padding-left: 0;
    }

    @include mQ(1200px) {
      position: relative;
      bottom: 40px;
    }

    @include mQ(1400px) {
      position: relative;
      bottom: 60px;
    }

    @include mQ(1700px) {
      position: relative;
      bottom: 80px;
    }

    @include mQ(2000px) {
      position: relative;
      bottom: 130px;
    }
  }

  .Image {
    
    img {
      margin-bottom: 20px;

      @include mQ(600px) {
        margin-bottom: 0;
      }
    }

    @include mQ(600px) {
      @include condense();
    }
  }
}


//Skills
.Skills {
  margin-top: 50px;
  background-color: $appContrast;
  padding: 20px 0 1px 0;

  @include mQ(900px) {
    margin-top: 0;
  }

  .Skill {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 10px;

    @include mQ(900px) {
      display: inline-block;
      @include align(33%, 50px);
      padding: 0 40px 15px 0;
      margin-top: 0;
    }

    h1 {
      display: inline-block;
      margin: 0;
      margin-left: -70px;
    }

    .icon {
      font-size: 2em;
      margin-top: 6px;
      margin-left: 50px;
    }

    p {
      @include mQ(900px) {
        text-align: left;
      }
    }
  }
}


.Development {
  margin-top: 10px;
  position: relative;
  padding: 10px 0;

  @include mQ(600px) {
    padding-left: 10px;
  }

  img {
    display: block;
    border-radius: 5px;
    @include align();

    @include mQ(900px) {
      @include imgResize();
    }
  }

  .Image {
    @include mQ(900px) {
      @include imgResize();
    }
  }

  .Description {
    @include align();

    @include mQ(900px) {
      display: inline-block;
      margin-right: 0;
      width: calc(43% - 50px);
      margin-left: 50px;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  h1, p, ul {
    padding: 0 8px;
  }

  ul, p {
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    margin-right: 0.5em;
    margin-bottom: 1em;
    background-color: $medGray;
    color: $white;
  }
}


.Contact {
  padding: 10px 0 1px 8px;
  background-color: $appContrast;

  @include mQ(600px) {
    text-align: center;
  }
  
  dt {
    margin-right: 15px;
    @include desList(28px, 5px);
  }

  dd {
    margin-left: 0;
    @include desList(18px, 30px);
    padding-bottom: 5px;
  }
}


//Foot
.Foot {
  background-color: $darkGray;
  color: $white;

  p {
    display: inline-block;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 12px;
    color: $white;
  }

  .SocialMedia {
    display: inline-block;
    margin-top: 5px;
    font-size: 22px;   
    float: right;
    padding-right: 10px;

    .github {
      margin-left: 10px;
    }

    ul {
      margin: 0;

      li {
        display: inline;
      }
    }
  }
}

//General Content Sizes
.Home > div, 
  .AboutMe > div,  
  .Skills > div,
  .Development > div,
  .Contact > div {
  @include mQ(900px) {
    @include align(80%, 35px);
  }

  @include mQ(1200px) {
    @include align(70%, 55px);
  }
}

.Head > div, .Foot > div {
  @include mQ(600px) {
    @include align(90%);
  }

  @include mQ(900px) {
    @include align(70%);
  }
}

.Development > div {
  @include mQ(900px) {
    margin-top: 0;
  }
}