@import '../../node_modules/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans');

@import 'variables';
@import 'mixins';


// General Styling
* {
  letter-spacing: 0.7px;
}

html, body {
  height: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p, h1, dd, dt {
  color: $black;
}

p, a, dd, dt {
  font-family: 'Open Sans', sans-serif;
}


//keep footer on bottom
#root {
  min-height: 100%;
  position: relative;
  background-color: $app;
}

.Home, .AboutMe, .Skills, .Development, .Contact {
  padding-bottom: 50px;
}

.Foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}


//top of page and navigation
.Head {

  background-color: $darkGray;
  color: $white;
  padding-bottom: 10px;
  padding-top: 10px;

  .Logo {
    display: inline-block;
    margin-left: 10px;

    h1 {
      margin-bottom: 0;
      letter-spacing: 1.5px;
      font-size: 1.3em;
      font-family: Arimo, sans-serif;
      color: $white;
    }
  }

  button {
    border: none;
    padding: 6px 12px;
    background-color: $darkGray;
    float: right;

    @include mQ(600px) {
      display: none;
    }
    
    .menu {
      font-size: 1.6em;
      color: $white;
    }
  }

  nav {
    clear: both;

    @include mQ(600px) {
      width: 80%;
    }
  }

  a {
    color: $headTxt;
    text-decoration: none;
  }

  .nav-closed {
    display: none;
    
    @include mQ(600px) {
      display: inline-block;
    }
  }
  
  .nav-open {
    display: block;
    padding-left: 0;
    text-align: center;

    @include mQ(600px) {
      display: none;
    }    
  }
}


//Homepage
.Home {

  overflow-x: hidden;

  p {
    font-size: 1.3em;
    text-align: center;
    padding: 24px;
    margin: 10px;
    position: relative;
    bottom: 370px;
    background-color: $txtBg;
  }

  img {
    width: auto;
  }
}


//About Me
.AboutMe {

  p {
    padding: 0 10px;
  }

  img {
    margin-bottom: 20px;
  }
}


//Skills
.Skills {
  
  margin-top: 50px;

  .Skill {

    text-align: center;
    margin-bottom: 50px;

    h1 {
      display: inline-block;
      margin: 0;
      margin-left: -70px;
    }

    .icon {
      font-size: 2em;
      margin-top: 6px;
      margin-left: 50px;
    }

    #js {
      color: $javascript;
    }

    #react {
      color: $react;
    }

    #sass {
      color: $sass;
    }
  }
}


.Development {

  margin-top: 10px;

  img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  
  h1, p, ul {
    padding: 0 8px;
  }

  li {
    display: inline-block;
    margin-right: 0.5em;
    background-color: $medGray;
    color: $white;
    padding: 4px 8px;
    border-radius: 5px;
  }
}


//Social Media icons 
.twitter {
  color: $twitter;  
}
 .github {
  color: $github;
}


.Contact {

  padding-left: 8px;
  
  dt {
    margin-right: 15px;
    font-size: 28px;
    margin-bottom: 5px;
  }

  dd {
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 18px;
  }

  .SocialMedia {
    font-size: 7em;

    ul {
      text-align: center;
      margin: 10px;
    }

    li {
      display: inline-block;
    }
  }
}


//Foot
.Foot {

  background-color: $darkGray;
  color: $white;

  p {
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
    color: $white;
    margin-top: 10px;
  }

  .SocialMedia {
    display: inline-block;
    font-size: 22px;   
    margin-top: 10px;
    float: right;
    padding-right: 10px;

    .github {
      margin-left: 10px;
    }

    ul {
      margin: 0;

      li {
        display: inline;
      }
    }
  }
}